@import url(../../assets/styles/style.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);
.head-row {
  padding: 34px 0 46px;
}
@media (max-width: 1024px) {
  .head-row {
    padding: 12px 0 25px;
  }
}

.catalog-container {
  padding-bottom: 112px;
}
@media (max-width: 1024px) {
  .catalog-container {
    padding-bottom: 51px;
  }
}
.catalog-container .content {
  display: flex;
  gap: 25px;
}
.catalog-container .content .filter-body {
  display: flex;
  width: 262px;
  flex-direction: column;
  gap: 14px;
  flex-shrink: 0;
}
.catalog-container .content .filter-body .filter-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 0px 0px;
  gap: 10px;
  flex-shrink: 0;
  border-top: 1px solid #E1E1E1;
}
.catalog-container .content .filter-body .filter-item .filter-title {
  color: #131214;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 31.2px */
  margin-bottom: 6px;
}
.catalog-container .content .filter-body .filter-item.filter-links {
  gap: 12px;
  border-top: none;
}
.catalog-container .content .filter-body .filter-item.filter-links span {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: 0.3s ease;
  display: block;
  cursor: pointer;
}
.catalog-container .content .filter-body .filter-item.filter-links span:hover {
  color: #0464EC;
}
.catalog-container .content .filter-body .filter-item.color .filter-title {
  margin-bottom: 30px;
}
.catalog-container .content .filter-body .filter-item.color ul {
  width: 100%;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.catalog-container .content .filter-body .filter-item.color ul li {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  border-radius: 500px;
  border: 1px solid #E9E9E9;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.catalog-container .content .filter-body .filter-item.color ul li:hover {
  border: 1px solid #0464EC;
}
.catalog-container .content .filter-body .filter-item.color ul li span {
  width: 20px;
  height: 20px;
  border-radius: 500px;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-white {
  background-color: #fff;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-gray {
  background-color: gray;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-black {
  background-color: black;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-dark {
  background-color: rgb(59, 58, 58);
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-red {
  background-color: red;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-violet {
  background-color: violet;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-beuge {
  background-color: beige;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-yellow {
  background-color: yellow;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-blue {
  background-color: blue;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-ligth-blue {
  background-color: rgb(115, 115, 226);
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-green {
  background-color: green;
}
.catalog-container .content .filter-body .filter-item.color ul li span.color-orange {
  background-color: orange;
}
.catalog-container .content .filter-body .filter-item.price .filter-title {
  margin-bottom: 30px;
}
.catalog-container .content .filter-body .filter-item.price .price-inputs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}
.catalog-container .content .filter-body .filter-item.price .price-inputs input {
  display: flex;
  width: 99px;
  padding: 12px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #EAECEE;
  background: #FFF;
  outline: none;
  flex-shrink: 0;
}
.catalog-container .content .filter-body .filter-item.price .price-inputs input::-moz-placeholder {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  text-transform: capitalize;
}
.catalog-container .content .filter-body .filter-item.price .price-inputs input::placeholder {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  text-transform: capitalize;
}
.catalog-container .content .filter-body .filter-item.price .price-inputs .line {
  width: 23px;
  height: 1px;
  background: #E1E1E1;
  flex-shrink: 0;
}
.catalog-container .content .filter-body .filter-item.price .price-slider {
  position: relative;
  width: 100%;
}
.catalog-container .content .filter-body .filter-item.price .price-slider input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.catalog-container .content .filter-body .filter-item.price .price-slider .slider-track {
  width: 100%;
  height: 3px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: rgba(4, 101, 236, 0.6431372549);
}
.catalog-container .content .filter-body .filter-item.price .price-slider input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 3px;
}
.catalog-container .content .filter-body .filter-item.price .price-slider input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background-color: #0464EC;
  cursor: pointer;
  margin-top: -7px;
  pointer-events: auto;
  border-radius: 50%;
}
.catalog-container .content .filter-body .filter-item.price .price-slider input[type=range]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid #0464EC;
}
.catalog-container .content .filter-body button {
  margin-top: 50px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #0464EC;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  color: #0464EC;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
  cursor: pointer;
}
.catalog-container .content .catalog-body {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: calc(100% - 262px - 25px);
}
.catalog-container .content .catalog-body .category-info h1 {
  margin-bottom: 16px;
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
}
.catalog-container .content .catalog-body .category-info p {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0, rgb(0, 0, 0) calc(100% - 50px), rgba(0, 0, 0, 0) 100%);
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.catalog-container .content .catalog-body .category-info p.show {
  display: block;
  -webkit-mask: none;
}
.catalog-container .content .catalog-body .category-info span {
  cursor: pointer;
  color: #1071FF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
.catalog-container .content .catalog-body .category-info span.hide {
  display: none;
}
.catalog-container .content .catalog-body .banner {
  width: 100%;
  padding: 25px 29px;
  background: #0464EC;
  position: relative;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: flex-end;
}
.catalog-container .content .catalog-body .banner img {
  position: absolute;
  bottom: 0;
  left: 29px;
}
.catalog-container .content .catalog-body .banner .sale {
  color: #FFF;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 93.75% */
}
.catalog-container .content .catalog-body .banner .banner-title {
  color: #FFF;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 41.6px */
}
.catalog-container .content .catalog-body .sort {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.catalog-container .content .catalog-body .sort .select-wrap {
  width: 150px;
}
.catalog-container .content .catalog-body .product-cards {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner {
  width: calc((100% - 50px) / 3);
  height: 380px;
  position: relative;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner {
    height: 330px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 14px 11px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 8px;
  background: #FFF;
  transition: 0.3s ease;
  min-height: 374px;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card {
    display: flex;
    height: 310px;
    padding: 8px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .images {
  width: 100%;
  height: 155px;
  position: relative;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .images {
    height: 100px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .images img.active {
  display: block;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .images .labels {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner {
  display: flex;
  gap: 5px;
  align-items: center;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs {
    gap: 3px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs li {
  width: 35px;
  height: 35px;
  padding: 3px;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs li {
    width: 22px;
    height: 22px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs li .mini-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs li.active-thumb {
  border: 1px solid #0464EC;
  border-radius: 5px;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs li:nth-child(n+6) {
  display: none;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner .thumbs.show li:nth-child(n+6) {
  transition: 0.3s ease;
  display: list-item;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner p {
  color: rgba(19, 18, 20, 0.5);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
  display: flex;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner p {
    font-size: 10px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .gallery .thumbs-inner p.hide {
  display: none;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .card-title {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .stock {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 20.4px */
  display: flex;
  gap: 4px;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .stock {
    font-size: 10px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .stock.instock::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_539_3779)'%3E%3Cpath d='M7.74089 1.33325C4.06089 1.33325 1.07422 4.31992 1.07422 7.99992C1.07422 11.6799 4.06089 14.6666 7.74089 14.6666C11.4209 14.6666 14.4076 11.6799 14.4076 7.99992C14.4076 4.31992 11.4209 1.33325 7.74089 1.33325ZM7.74089 13.3333C4.80089 13.3333 2.40755 10.9399 2.40755 7.99992C2.40755 5.05992 4.80089 2.66659 7.74089 2.66659C10.6809 2.66659 13.0742 5.05992 13.0742 7.99992C13.0742 10.9399 10.6809 13.3333 7.74089 13.3333ZM10.8009 5.05325L6.40755 9.44659L4.68089 7.72659L3.74089 8.66659L6.40755 11.3333L11.7409 5.99992L10.8009 5.05325Z' fill='%236FCF97'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_539_3779'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.257812)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .stock.remote::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1344_576)'%3E%3Cpath d='M7.74089 1.33325C4.06089 1.33325 1.07422 4.31992 1.07422 7.99992C1.07422 11.6799 4.06089 14.6666 7.74089 14.6666C11.4209 14.6666 14.4076 11.6799 14.4076 7.99992C14.4076 4.31992 11.4209 1.33325 7.74089 1.33325ZM7.74089 13.3333C4.80089 13.3333 2.40755 10.9399 2.40755 7.99992C2.40755 5.05992 4.80089 2.66659 7.74089 2.66659C10.6809 2.66659 13.0742 5.05992 13.0742 7.99992C13.0742 10.9399 10.6809 13.3333 7.74089 13.3333ZM10.8009 5.05325L6.40755 9.44659L4.68089 7.72659L3.74089 8.66659L6.40755 11.3333L11.7409 5.99992L10.8009 5.05325Z' fill='%23828282'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1344_576'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.257812)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .price {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .price .actual-price {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px; /* 138% */
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .price .actual-price {
    font-size: 16px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .price .discount {
  color: #C1C4C6;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px; /* 172.5% */
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .price .discount {
    font-size: 13px;
  }
}
.catalog-container .content .catalog-body .product-cards .product-card-inner .product-card .hidden-btn {
  width: 100%;
  padding: 20px;
  color: #0464EC;
  border: 2px solid #0464EC;
  border-radius: 8px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: none;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner:hover .product-card {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  height: unset;
  z-index: 5;
}
.catalog-container .content .catalog-body .product-cards .product-card-inner:hover .product-card .hidden-btn {
  display: block;
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner:hover .product-card .hidden-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .catalog-container .content .catalog-body .product-cards .product-card-inner:hover .product-card {
    box-shadow: none;
  }
}
.catalog-container .content .catalog-body .controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.catalog-container .content .catalog-body .controls ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.catalog-container .content .catalog-body .controls ul li {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
  color: #131214;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.catalog-container .content .catalog-body .controls ul li.disabled-control svg path {
  fill: #E1E1E1;
}
.catalog-container .content .catalog-body .controls ul li.active, .catalog-container .content .catalog-body .controls ul li:hover {
  border-radius: 8px;
  background: #0464EC;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}/*# sourceMappingURL=listing.css.map */