@import url(../../assets/styles/style.css);
@import url(../../assets/styles/swiper-bundle.min.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);
.head-row {
  padding: 25px 0 0;
}
@media (max-width: 1100px) {
  .head-row .breadcrumbs li {
    display: none;
  }
  .head-row .breadcrumbs li:first-child {
    display: block;
  }
  .head-row .breadcrumbs li:nth-child(2) {
    display: block;
  }
  .head-row .breadcrumbs li:last-child {
    display: block;
  }
}
.head-row h1 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin: 40px 0 30px;
}
@media (max-width: 1024px) {
  .head-row h1 {
    font-size: 28px;
    margin: 30px 0 20px;
  }
}

.about-block {
  padding: 60px 0;
}
@media (max-width: 768px) {
  .about-block {
    padding: 40px 0 22px;
  }
}
.about-block .content {
  display: flex;
  gap: 35px;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .about-block .content {
    flex-direction: column;
  }
}
.about-block .content .images-block {
  width: calc((100% - 35px) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .about-block .content .images-block {
    width: 100%;
    padding: 0 30%;
  }
}
@media (max-width: 768px) {
  .about-block .content .images-block {
    padding: 0 20%;
  }
}
@media (max-width: 450px) {
  .about-block .content .images-block {
    padding: 0 8%;
  }
}
.about-block .content .images-block .img-wrap {
  width: 50%;
}
.about-block .content .images-block .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-block .content .info-block {
  width: calc((100% - 35px) / 2);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .about-block .content .info-block {
    width: 100%;
  }
}
.about-block .content .info-block p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.about-block .content .info-block p span {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
  letter-spacing: 0.3px;
}

.partners-block .swiper-row {
  padding: 50px 0 32px;
  background: #F5F6FA;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 1024px) {
  .partners-block .swiper-row {
    gap: 0;
  }
}
.partners-block .swiper-row .button-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 1024px) {
  .partners-block .swiper-row .button-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.partners-block .swiper-row .button-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 1024px) {
  .partners-block .swiper-row .button-next {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.partners-block .swiper-row .content {
  margin: 0;
}
.partners-block .swiper-row .content .swiper-slide {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-advantages-block {
  padding: 70px 0 65px;
}
@media (max-width: 1024px) {
  .about-advantages-block {
    padding: 35px 0;
  }
}
.about-advantages-block .advantages-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.about-advantages-block .advantages-cards .advantages-card {
  width: calc((100% - 35px - 35px) / 3);
  display: flex;
  padding: 24px 32px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .about-advantages-block .advantages-cards .advantages-card {
    width: calc((100% - 35px) / 2);
    padding: 0;
  }
}
@media (max-width: 768px) {
  .about-advantages-block .advantages-cards .advantages-card {
    width: 100%;
    padding: 0;
  }
}
.about-advantages-block .advantages-cards .advantages-card p {
  color: #131214;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 136.364% */
  letter-spacing: -0.22px;
  margin: 24px 0 8px;
}
@media (max-width: 1024px) {
  .about-advantages-block .advantages-cards .advantages-card p {
    font-size: 20px;
    margin: 16px 0 8px;
  }
}
.about-advantages-block .advantages-cards .advantages-card span {
  color: #737B7D;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.1px;
}

.advances-block {
  padding: 120px 0 40px;
}
@media (max-width: 1024px) {
  .advances-block {
    padding: 35px 0;
  }
}
.advances-block .content {
  display: flex;
  gap: 60px;
}
@media (max-width: 1024px) {
  .advances-block .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.advances-block .content .col {
  width: calc((100% - 60px) / 2);
}
@media (max-width: 1024px) {
  .advances-block .content .col {
    width: 100%;
    justify-content: center;
  }
}
.advances-block .content .col h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%; /* 44px */
  letter-spacing: 0.1px;
}
@media (max-width: 1024px) {
  .advances-block .content .col h2 {
    font-size: 24px;
  }
}
.advances-block .content .col p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  margin-bottom: 20px;
}
.advances-block .content .col p:last-child {
  margin-bottom: 0;
}

.images-block {
  padding: 108px 0 146px;
}
@media (max-width: 1024px) {
  .images-block {
    padding: 35px 0;
  }
}
.images-block .about-images-swiper {
  width: 100%;
  height: 630px;
}
.images-block .about-images-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.images-block .about-images-swiper .swiper-button-prev {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: rgba(230, 239, 251, 0.4);
}
.images-block .about-images-swiper .swiper-button-prev::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg clip-path='url(%23clip0_1179_23166)'%3E%3Cpath d='M20.0187 21.1918L14.1896 15.35L20.0187 9.50817L18.2241 7.71362L10.5878 15.35L18.2241 22.9864L20.0187 21.1918Z' fill='%230464EC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1179_23166'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.405945 0.0772705)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.images-block .about-images-swiper .swiper-button-next {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: rgba(230, 239, 251, 0.4);
}
.images-block .about-images-swiper .swiper-button-next::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg clip-path='url(%23clip0_1179_23171)'%3E%3Cpath d='M10.9814 21.1918L16.8105 15.35L10.9814 9.50817L12.7759 7.71362L20.4123 15.35L12.7759 22.9864L10.9814 21.1918Z' fill='%230464EC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1179_23171'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.048645 0.0772705)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.numbers {
  padding-bottom: 80px;
}
.numbers .row {
  display: flex;
  gap: 60px;
  margin-bottom: 50px;
}
@media (max-width: 1024px) {
  .numbers .row {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }
}
.numbers .row h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.48px;
  width: calc((100% - 120px) / 3);
}
@media (max-width: 1024px) {
  .numbers .row h2 {
    text-align: center;
    width: 100%;
  }
}
.numbers .row p {
  color: #737B7D;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  max-width: 600px;
  width: 100%;
}
@media (max-width: 1024px) {
  .numbers .row p {
    font-size: 16px;
    text-align: center;
  }
}
.numbers .numbers-cards {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 768px) {
  .numbers .numbers-cards {
    flex-direction: column;
  }
}
.numbers .numbers-cards .number-card {
  width: calc((100% - 120px) / 3);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
  border-top: 1px solid #0464EC;
}
@media (max-width: 768px) {
  .numbers .numbers-cards .number-card {
    width: 100%;
  }
}
.numbers .numbers-cards .number-card p {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 110%; /* 70.4px */
}
.numbers .numbers-cards .number-card span {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
}

.customers {
  padding: 85px 0 100px;
  background-image: url(../../assets/images/main-page/new.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .customers {
    padding: 35px 0 50px;
  }
}
.customers h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
}
@media (max-width: 1024px) {
  .customers h2 {
    font-size: 28px;
  }
}
.customers h2 span {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1px;
}
@media (max-width: 1024px) {
  .customers h2 span {
    font-size: 28px;
  }
}
.customers .swiper-row {
  padding: 66px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
}
@media (max-width: 1024px) {
  .customers .swiper-row {
    gap: 0;
  }
}
.customers .swiper-row .button-prev {
  cursor: pointer;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 1024px) {
  .customers .swiper-row .button-prev {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.customers .swiper-row .button-next {
  cursor: pointer;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  z-index: 5;
}
@media (max-width: 1024px) {
  .customers .swiper-row .button-next {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.customers .swiper-row .content {
  margin: 0;
}
.customers .swiper-row .content .customers-swiper {
  width: 100%;
}
.customers .swiper-row .content .customers-swiper .swiper-wrapper {
  padding: 10px 0;
  gap: 24px;
}
.customers .swiper-row .content .customers-swiper .swiper-wrapper .swiper-slide {
  width: 204px !important;
  height: 123px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.customers .banner {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  background-image: url(../../assets/images/main-page/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 35px 0 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media (max-width: 1024px) {
  .customers .banner {
    padding: 35px 16px;
  }
}
.customers .banner p {
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 135.294% */
}
@media (max-width: 1024px) {
  .customers .banner p {
    font-size: 26px;
  }
}
.customers .banner button {
  width: 209px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 4px solid #FFF;
  background: linear-gradient(0deg, #0464EC 0%, #0464EC 100%), linear-gradient(264deg, #73DFE7 -29.33%, #0063F7 98.4%);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.3px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .customers .banner button {
    width: 100%;
  }
}/*# sourceMappingURL=about.css.map */