@import url(../../assets/styles/style.css);
@import url(../../assets/styles/swiper-bundle.min.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);
.head-row {
  padding: 25px 0 0;
}
@media (max-width: 1100px) {
  .head-row .breadcrumbs li {
    display: none;
  }
  .head-row .breadcrumbs li:first-child {
    display: block;
  }
  .head-row .breadcrumbs li:nth-child(2) {
    display: block;
  }
  .head-row .breadcrumbs li:last-child {
    display: block;
  }
}
.head-row .head-row-info {
  display: flex;
  gap: 130px;
  align-items: center;
}
@media (max-width: 768px) {
  .head-row .head-row-info {
    flex-direction: column;
    gap: 36px;
  }
}
.head-row .head-row-info .info h1 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin: 40px 0 30px;
}
@media (max-width: 1024px) {
  .head-row .head-row-info .info h1 {
    font-size: 28px;
    margin: 30px 0 20px;
  }
}
.head-row .head-row-info .info .portfolio-info {
  max-width: 100%;
}
@media (max-width: 1024px) {
  .head-row .head-row-info .info .portfolio-info {
    max-width: 100%;
  }
}
.head-row .head-row-info .info .portfolio-info p {
  color: #0C0C0C;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 0, rgb(0, 0, 0) calc(100% - 50px), rgba(0, 0, 0, 0) 100%);
  margin-bottom: 10px;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .head-row .head-row-info .info .portfolio-info p {
    font-size: 14px;
  }
}
.head-row .head-row-info .info .portfolio-info p.show {
  display: block;
  -webkit-mask: none;
}
.head-row .head-row-info .info .portfolio-info span {
  cursor: pointer;
  color: #1071FF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
}
@media (max-width: 1024px) {
  .head-row .head-row-info .info .portfolio-info span {
    font-size: 14px;
  }
}
.head-row .head-row-info .info .portfolio-info span.hide {
  display: none;
}

.brand-products {
  padding: 50px 0 100px;
}
.brand-products .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.brand-products .content .sort {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.brand-products .content .sort .select-wrap {
  width: 150px;
}
@media (max-width: 1024px) {
  .brand-products .content .sort {
    justify-content: flex-start;
  }
  .brand-products .content .sort .select-wrap {
    width: 150px;
  }
}
.brand-products .content .product-cards {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards {
    gap: 15px;
  }
}
.brand-products .content .product-cards .product-card-inner {
  width: calc((100% - 75px) / 4);
  height: 380px;
  position: relative;
}
@media (max-width: 1024px) {
  .brand-products .content .product-cards .product-card-inner {
    width: calc((100% - 50px) / 3);
  }
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner {
    width: calc((100% - 25px) / 2);
    height: 380px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 14px 11px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 8px;
  background: #FFF;
  transition: 0.3s ease;
  min-height: 374px;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card {
    display: flex;
    min-height: 380px;
    height: 100%;
    padding: 8px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .images {
  width: 100%;
  height: 155px;
  position: relative;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .gallery-images .images {
    height: 100px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .images img.active {
  display: block;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .images .labels {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner {
  display: flex;
  gap: 5px;
  align-items: center;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs {
    gap: 3px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs li {
  width: 35px;
  height: 35px;
  padding: 3px;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs li {
    width: 22px;
    height: 22px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs li .mini-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs li.active-thumb {
  border: 1px solid #0464EC;
  border-radius: 5px;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs li:nth-child(n+6) {
  display: none;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner .thumbs.show li:nth-child(n+6) {
  transition: 0.3s ease;
  display: list-item;
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner p {
  color: rgba(19, 18, 20, 0.5);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
  display: flex;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner p {
    font-size: 10px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .gallery-images .thumbs-inner p.hide {
  display: none;
}
.brand-products .content .product-cards .product-card-inner .product-card .card-title {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
}
.brand-products .content .product-cards .product-card-inner .product-card .stock {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 20.4px */
  display: flex;
  gap: 4px;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .stock {
    font-size: 10px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .stock.instock::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_539_3779)'%3E%3Cpath d='M7.74089 1.33325C4.06089 1.33325 1.07422 4.31992 1.07422 7.99992C1.07422 11.6799 4.06089 14.6666 7.74089 14.6666C11.4209 14.6666 14.4076 11.6799 14.4076 7.99992C14.4076 4.31992 11.4209 1.33325 7.74089 1.33325ZM7.74089 13.3333C4.80089 13.3333 2.40755 10.9399 2.40755 7.99992C2.40755 5.05992 4.80089 2.66659 7.74089 2.66659C10.6809 2.66659 13.0742 5.05992 13.0742 7.99992C13.0742 10.9399 10.6809 13.3333 7.74089 13.3333ZM10.8009 5.05325L6.40755 9.44659L4.68089 7.72659L3.74089 8.66659L6.40755 11.3333L11.7409 5.99992L10.8009 5.05325Z' fill='%236FCF97'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_539_3779'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.257812)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.brand-products .content .product-cards .product-card-inner .product-card .stock.remote::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1344_576)'%3E%3Cpath d='M7.74089 1.33325C4.06089 1.33325 1.07422 4.31992 1.07422 7.99992C1.07422 11.6799 4.06089 14.6666 7.74089 14.6666C11.4209 14.6666 14.4076 11.6799 14.4076 7.99992C14.4076 4.31992 11.4209 1.33325 7.74089 1.33325ZM7.74089 13.3333C4.80089 13.3333 2.40755 10.9399 2.40755 7.99992C2.40755 5.05992 4.80089 2.66659 7.74089 2.66659C10.6809 2.66659 13.0742 5.05992 13.0742 7.99992C13.0742 10.9399 10.6809 13.3333 7.74089 13.3333ZM10.8009 5.05325L6.40755 9.44659L4.68089 7.72659L3.74089 8.66659L6.40755 11.3333L11.7409 5.99992L10.8009 5.05325Z' fill='%23828282'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1344_576'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.257812)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.brand-products .content .product-cards .product-card-inner .product-card .price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .price {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .price .actual-price {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px; /* 138% */
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .price .actual-price {
    font-size: 16px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .price .discount {
  color: #C1C4C6;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px; /* 172.5% */
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner .product-card .price .discount {
    font-size: 13px;
  }
}
.brand-products .content .product-cards .product-card-inner .product-card .hidden-btn {
  width: 100%;
  padding: 20px;
  color: #0464EC;
  border: 2px solid #0464EC;
  border-radius: 8px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-top: auto;
  display: none;
}
@media (max-width: 1024px) {
  .brand-products .content .product-cards .product-card-inner .product-card .hidden-btn {
    display: block;
    padding: 10px;
  }
}
.brand-products .content .product-cards .product-card-inner:hover .product-card {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  height: unset;
  z-index: 5;
}
.brand-products .content .product-cards .product-card-inner:hover .product-card .hidden-btn {
  display: block;
}
@media (max-width: 768px) {
  .brand-products .content .product-cards .product-card-inner:hover .product-card {
    box-shadow: none;
  }
}
.brand-products .content .controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-products .content .controls ul {
  display: flex;
  align-items: center;
  gap: 16px;
}
.brand-products .content .controls ul li {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  cursor: pointer;
  color: #131214;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.brand-products .content .controls ul li.disabled-control svg path {
  fill: #E1E1E1;
}
.brand-products .content .controls ul li.active, .brand-products .content .controls ul li:hover {
  border-radius: 8px;
  background: #0464EC;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}/*# sourceMappingURL=brands-single.css.map */