@import url(../../assets/styles/style.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);
.head-row {
  padding: 34px 0 0;
}
.head-row h1 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin: 43px 0 18px;
}
.head-row .sort {
  display: flex;
  align-items: center;
  gap: 48px;
}
@media (max-width: 1024px) {
  .head-row .sort {
    display: flex;
    width: 100%;
    overflow: auto;
    gap: 16px;
    flex-shrink: 0;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    scroll-snap-type: x mandatory;
  }
  .head-row .sort::-webkit-scrollbar {
    background-color: transparent;
  }
}
.head-row .sort span {
  display: block;
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  flex-shrink: 0;
}
.head-row .sort .select-wrap {
  position: relative;
}
.head-row .sort .select-wrap .select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 5px;
  cursor: pointer;
}
.head-row .sort .select-wrap .select::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M4.00195 5.75L7.50195 9.25L11.002 5.75' stroke='%23131214' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
}
.head-row .sort .select-wrap .select-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 8px;
  padding: 5px;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.head-row .sort .select-wrap .select-list.active {
  display: flex;
}

.catalog-block {
  padding: 34px 0 84px;
}
@media (max-width: 1024px) {
  .catalog-block {
    padding: 10px 0 76px;
  }
}
.catalog-block .catalog-category {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category {
    gap: 10px;
  }
}
.catalog-block .catalog-category li {
  width: calc((100% - 75px) / 4);
}
@media (max-width: 1370px) {
  .catalog-block .catalog-category li {
    width: calc((100% - 50px) / 3);
  }
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li {
    width: 100%;
  }
}
.catalog-block .catalog-category li .category-card-wrapper {
  display: flex;
  height: 220px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper {
    height: 100px;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  border-radius: 8px;
  background: #FFF;
  padding: 15px;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  display: flex;
  gap: 20px;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card.active {
  z-index: 2;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card {
    align-items: center;
    display: flex;
    padding: 10px 17px;
    align-items: center;
    gap: 24px;
  }
  .catalog-block .catalog-category li .category-card-wrapper .category-card:hover {
    border-radius: 6px;
    border: 1px solid #0464EC;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  }
  .catalog-block .catalog-category li .category-card-wrapper .category-card img {
    width: 51px;
    height: 51px;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content {
  width: calc(100% - 105px);
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .card-title {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .card-title {
    margin-bottom: 0;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul {
    display: none;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li {
  width: initial;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li::nth-child(n+5) {
  display: none;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li a {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px; /* 125% */
  transition: 0.3s ease;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li a:hover {
  color: #0464EC;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  display: flex;
  gap: 6px;
  cursor: pointer;
  margin-top: 4px;
  align-items: center;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list {
    display: none;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cpath d='M10.5 5.65723L7 9.15723L3.5 5.65723' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 3px;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list.hide {
  display: none;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li:nth-child(n+5) {
  display: none;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul.show li:nth-child(n+5) {
  transition: 0.3s ease;
  display: list-item;
}/*# sourceMappingURL=category.css.map */