@import url(../../assets/styles/style.css);
@import url(../../assets/styles/swiper-bundle.min.css);
@import url(../../assets/styles/header.css);
@import url(../../assets/styles/footer.css);
.head-row {
  padding: 25px 0 0;
}
@media (max-width: 1100px) {
  .head-row .breadcrumbs li {
    display: none;
  }
  .head-row .breadcrumbs li:first-child {
    display: block;
  }
  .head-row .breadcrumbs li:nth-child(2) {
    display: block;
  }
  .head-row .breadcrumbs li:last-child {
    display: block;
  }
}
.head-row h1 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin: 40px 0 30px;
}
@media (max-width: 1024px) {
  .head-row h1 {
    font-size: 28px;
    margin: 30px 0 20px;
  }
}
.head-row .description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.head-row .description li {
  color: #131214;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
}
.head-row button {
  width: 154px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background-color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-align: center;
  color: #fff;
  margin-top: 25px;
  transition: 0.3s ease;
  cursor: pointer;
}
.head-row button:hover {
  border: 1px solid #034096;
  background-color: #034096;
}
@media (max-width: 450px) {
  .head-row button {
    width: 100%;
  }
}

.portfolio-body {
  padding: 50px 0 70px;
}
.portfolio-body .content .portfolio-images {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.portfolio-body .content .portfolio-images li {
  width: 100%;
}
.portfolio-body .content .portfolio-images li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner {
  background: #0464EC;
  padding: 32px 0;
}
.banner .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 1024px) {
  .banner .content {
    flex-direction: column;
    gap: 10px;
  }
}
.banner .content .text-block {
  display: flex;
  align-items: center;
  gap: 65px;
}
@media (max-width: 1024px) {
  .banner .content .text-block {
    flex-direction: column;
    gap: 10px;
  }
}
.banner .content .text-block .text {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
@media (max-width: 1024px) {
  .banner .content .text-block .text {
    align-items: center;
  }
}
.banner .content .text-block .text h2 {
  color: #FFF;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 46.8px */
}
@media (max-width: 1024px) {
  .banner .content .text-block .text h2 {
    font-size: 28px;
  }
}
.banner .content .text-block .text p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
  max-width: 361px;
}
@media (max-width: 1024px) {
  .banner .content .text-block .text p {
    text-align: center;
  }
}
.banner .content button {
  display: flex;
  width: 196px;
  height: 48px;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #FFF;
  color: #0464EC;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  border: none;
  cursor: pointer;
}
@media (max-width: 450px) {
  .banner .content button {
    width: 100%;
  }
}/*# sourceMappingURL=portfolio-single.css.map */