@import url(./style.css);
.footer {
  width: 100%;
  background: #131214;
}
.footer .footer-desctop {
  padding: 105px 0 30px;
}
@media (max-width: 1024px) {
  .footer .footer-desctop {
    display: none;
  }
}
.footer .footer-desctop .row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.footer .footer-desctop .row .col {
  display: flex;
  max-width: 381px;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.footer .footer-desctop .row .col p {
  color: #E0E0E0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.footer .footer-desctop .row .col .input-wrapper {
  position: relative;
  max-width: 381px;
  width: 100%;
  flex-shrink: 0;
}
.footer .footer-desctop .row .col .input-wrapper input {
  display: flex;
  width: 100%;
  padding: 18px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.footer .footer-desctop .row .col .input-wrapper input::-moz-placeholder {
  color: #BDBDBD;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-desctop .row .col .input-wrapper input::placeholder {
  color: #BDBDBD;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-desctop .row .col .input-wrapper button {
  position: absolute;
  top: 18px;
  right: 16px;
  border: none;
  background-color: transparent;
}
.footer .footer-desctop .row .col .social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-desctop .row .col:nth-child(2) {
  display: flex;
  flex-direction: row;
  max-width: initial;
  width: -moz-fit-content;
  width: fit-content;
  gap: 20px;
}
.footer .footer-desctop .row .col:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-desctop .row .col:nth-child(2) ul li a {
  color: #E1E1E1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
}
.footer .footer-desctop .row .col:nth-child(2) ul li:first-child a {
  color: #9B9B9B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 180% */
  margin-bottom: 6px;
}
.footer .footer-desctop .row .col:last-child {
  display: flex;
  flex-direction: column;
  width: 168px;
  gap: initial;
  max-width: initial;
}
.footer .footer-desctop .row .col:last-child p {
  color: #E1E1E1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  margin-bottom: 8px;
}
.footer .footer-desctop .row .col:last-child p:first-child {
  color: #9B9B9B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 180% */
  margin-bottom: 26px;
}
.footer .footer-desctop .row .col:last-child a {
  color: #E1E1E1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  margin-bottom: 8px;
}
.footer .footer-desctop .copy {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.footer .footer-desctop .copy p {
  color: rgba(225, 225, 225, 0.5);
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 221.538% */
}
.footer .footer-mobile {
  padding: 32px 0 0 0;
  display: none;
}
@media (max-width: 1024px) {
  .footer .footer-mobile {
    display: block;
    position: relative;
    z-index: 1;
  }
}
.footer .footer-mobile .content {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.footer .footer-mobile .content .col {
  display: flex;
  max-width: 381px;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}
.footer .footer-mobile .content .col p {
  color: #E0E0E0;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}
.footer .footer-mobile .content .col .input-wrapper {
  position: relative;
  max-width: 381px;
  width: 100%;
  flex-shrink: 0;
}
.footer .footer-mobile .content .col .input-wrapper input {
  display: flex;
  width: 100%;
  padding: 18px 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #F2F2F2;
  background-color: transparent;
  outline: none;
  color: #fff;
}
.footer .footer-mobile .content .col .input-wrapper input::-moz-placeholder {
  color: #BDBDBD;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-mobile .content .col .input-wrapper input::placeholder {
  color: #BDBDBD;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .footer-mobile .content .col .input-wrapper button {
  position: absolute;
  top: 18px;
  right: 16px;
  border: none;
  background-color: transparent;
}
.footer .footer-mobile .content .col .social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .footer-mobile .content .col:nth-child(2) {
  display: flex;
  max-width: initial;
  width: -moz-fit-content;
  width: fit-content;
  gap: 29px;
}
.footer .footer-mobile .content .col:nth-child(2) ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer .footer-mobile .content .col:nth-child(2) ul li a {
  color: #E1E1E1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
}
.footer .footer-mobile .content .col:nth-child(2) ul li:first-child a {
  color: #9B9B9B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 180% */
  margin-bottom: 6px;
}
.footer .footer-mobile .content .col:last-child {
  display: flex;
  flex-direction: column;
  width: 168px;
  gap: initial;
  max-width: initial;
}
.footer .footer-mobile .content .col:last-child p {
  color: #E1E1E1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  margin-bottom: 8px;
}
.footer .footer-mobile .content .col:last-child p:first-child {
  color: #9B9B9B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px; /* 180% */
  margin-bottom: 26px;
}
.footer .footer-mobile .content .col:last-child a {
  color: #E1E1E1;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 180% */
  margin-bottom: 8px;
}
.footer .footer-mobile .copy {
  width: 100%;
  padding: 14px 0;
  border-top: 2px solid #fff;
  margin-top: 29px;
  position: relative;
  z-index: 0;
}
.footer .footer-mobile .copy .content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: relative;
  z-index: 0;
}
.footer .footer-mobile .copy .content .social {
  max-width: 381px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 0;
}
.footer .footer-mobile .copy .content .social a {
  position: relative;
  z-index: 0;
}
.footer .footer-mobile .copy .content .social a svg {
  position: relative;
  z-index: 0;
}
.footer .footer-mobile .copy .content p {
  color: rgba(225, 225, 225, 0.5);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px; /* 240% */
}/*# sourceMappingURL=footer.css.map */