@import url(./style.css);
@media (max-width: 1024px) {
  .header .header-pc {
    display: none;
  }
}
.header .header-pc .contacts-row {
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  background: #F5F6FA;
}
.header .header-pc .contacts-row .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-pc .contacts-row .content .contacts-row-col {
  display: flex;
  gap: 14px;
  align-items: center;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap {
  position: relative;
  padding: 11px 0;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select {
  display: flex;
  gap: 6px;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select p {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  position: relative;
  cursor: pointer;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M3.5 9.25L7 12.75L10.5 9.25' stroke='%23131214' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select.header-location {
  position: relative;
  display: flex;
  gap: 6px;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select.header-location::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select.header-phones {
  position: relative;
  display: flex;
  gap: 6px;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select.header-phones::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_1235_793)'%3E%3Cpath d='M16.6036 12.8776V15.1276C16.6044 15.3364 16.5617 15.5432 16.478 15.7346C16.3943 15.926 16.2716 16.0978 16.1176 16.239C15.9637 16.3802 15.782 16.4877 15.5841 16.5546C15.3863 16.6215 15.1766 16.6464 14.9686 16.6276C12.6607 16.3768 10.4438 15.5882 8.49609 14.3251C6.68396 13.1736 5.14759 11.6372 3.99609 9.82507C2.72857 7.86848 1.93977 5.64082 1.69359 3.32257C1.67485 3.11517 1.69949 2.90614 1.76596 2.70879C1.83243 2.51144 1.93927 2.33009 2.07966 2.17629C2.22006 2.02249 2.39094 1.8996 2.58143 1.81546C2.77192 1.73132 2.97784 1.68777 3.18609 1.68757H5.43609C5.80007 1.68399 6.15293 1.81288 6.42891 2.05022C6.70489 2.28756 6.88515 2.61716 6.93609 2.97757C7.03105 3.69762 7.20718 4.40462 7.46109 5.08507C7.562 5.35352 7.58383 5.64526 7.52402 5.92573C7.4642 6.20621 7.32524 6.46366 7.12359 6.66757L6.17109 7.62007C7.23875 9.49773 8.79343 11.0524 10.6711 12.1201L11.6236 11.1676C11.8275 10.9659 12.085 10.827 12.3654 10.7671C12.6459 10.7073 12.9376 10.7292 13.2061 10.8301C13.8865 11.084 14.5935 11.2601 15.3136 11.3551C15.6779 11.4065 16.0106 11.59 16.2485 11.8707C16.4863 12.1514 16.6127 12.5098 16.6036 12.8776Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1235_793'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select.header-lang {
  margin-left: 4px;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 6px 6px;
  border-bottom: 1px solid #EAEBF0;
  background: #F5F6FA;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select-list.active {
  display: flex;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select-list li {
  transition: 0.3s ease;
  cursor: pointer;
}
.header .header-pc .contacts-row .content .contacts-row-col .select-wrap .select-list li:hover {
  color: #034096;
}
.header .header-pc .contacts-row .content .contacts-row-col .time {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  display: flex;
  gap: 6px;
}
.header .header-pc .contacts-row .content .contacts-row-col .time::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_1235_783)'%3E%3Cpath d='M9 5.46428V9L10.7679 10.7679M17.25 9C17.25 13.5563 13.5563 17.25 9 17.25C4.44365 17.25 0.75 13.5563 0.75 9C0.75 4.44365 4.44365 0.75 9 0.75C13.5563 0.75 17.25 4.44365 17.25 9Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1235_783'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .contacts-row .content .contacts-row-col .mail {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 6px;
}
.header .header-pc .contacts-row .content .contacts-row-col .mail::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M16.5 4.5C16.5 3.675 15.825 3 15 3H3C2.175 3 1.5 3.675 1.5 4.5M16.5 4.5V13.5C16.5 14.325 15.825 15 15 15H3C2.175 15 1.5 14.325 1.5 13.5V4.5M16.5 4.5L9 9.75L1.5 4.5' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .contacts-row .content .contacts-row-col .callme {
  color: #0464EC;
  text-align: right;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 138.462% */
  text-decoration-line: underline;
}
.header .header-pc .main-row {
  width: 100%;
  padding: 20px 0;
}
.header .header-pc .main-row .content {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
.header .header-pc .main-row .content .search-wrapper {
  padding: 16px;
  position: relative;
  max-width: 701px;
  width: 100%;
}
.header .header-pc .main-row .content .search-wrapper.to-result {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  z-index: 5;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper {
  position: relative;
  max-width: 701px;
  width: 100%;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper input {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #E1E1E1;
  background: #FFF;
  padding: 15px 17px;
  height: 48px;
  outline: none;
  transition: 0.3s ease;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper input.active {
  border-radius: 8px 8px 0 0;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper input::-moz-placeholder {
  color: #A0A0A0;
  text-align: left;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper input::placeholder {
  color: #A0A0A0;
  text-align: left;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper .search-btns {
  display: flex;
  gap: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper .search-btns button {
  padding: 0;
  margin: 0;
  background-color: #F5F6FA;
  border: none;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper .search-btns button.params {
  display: flex;
  width: 155px;
  padding: 10px 18px 10px 17px;
  justify-content: center;
  align-items: center;
  gap: 9.313px;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 23.8px */
  height: 48px;
  cursor: pointer;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper .search-btns button.params::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='20' viewBox='0 0 25 20' fill='none'%3E%3Cg clip-path='url(%23clip0_939_7096)'%3E%3Cpath d='M4.74792 21V14M4.74792 10V3M12.7479 21V12M12.7479 8V3M20.7479 21V16M20.7479 12V3M1.74792 14H7.74792M9.74792 8H15.7479M17.7479 16H23.7479' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_939_7096'%3E%3Cpath d='M0.747925 8C0.747925 3.58172 4.32965 0 8.74792 0H16.7479C21.1662 0 24.7479 3.58172 24.7479 8V16C24.7479 20.4183 21.1662 24 16.7479 24H8.74792C4.32965 24 0.747925 20.4183 0.747925 16V8Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper .search-btns button.params.active::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M1.45898 15.5625L8.459 8.56253M8.459 8.56253L15.459 1.5625M8.459 8.56253L1.45898 1.5625M8.459 8.56253L15.459 15.5625' stroke='%230356C9' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
}
.header .header-pc .main-row .content .search-wrapper .input-wrapper .search-btns button.search-btn {
  display: flex;
  width: 55px;
  height: 48px;
  padding: 12px 15.5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid #E1E1E1;
  background: #F5F6FA;
  cursor: pointer;
}
.header .header-pc .main-row .content .search-wrapper .params-panel {
  border-radius: 0px 0px 8px 8px;
  border-right: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  border-left: 1px solid #E1E1E1;
  background: #FFF;
  width: 100%;
  height: 48px;
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.header .header-pc .main-row .content .search-wrapper .params-panel.active {
  display: flex;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap {
  position: relative;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .color-select {
  display: flex;
  height: 47px;
  padding: 12px 16px;
  width: 129px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .color-select p {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .color-select::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cg clip-path='url(%23clip0_1190_15203)'%3E%3Cpath d='M17.0509 9.40259L12.4609 13.9826L7.87094 9.40259L6.46094 10.8126L12.4609 16.8126L18.4609 10.8126L17.0509 9.40259Z' fill='%231071FF'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1190_15203'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.460938 0.8125)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .select-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 10px;
  border-radius: 0px 0px 6px 6px;
  border-bottom: 1px solid #EAEBF0;
  background: #F5F6FA;
  display: flex;
  flex-direction: column;
  gap: 10px;
  display: none;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .select-list.active {
  display: flex;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .select-list li {
  transition: 0.3s ease;
  cursor: pointer;
}
.header .header-pc .main-row .content .search-wrapper .params-panel .select-wrap .select-list li:hover {
  color: #034096;
}
.header .header-pc .main-row .content .search-wrapper .params-panel input {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-left: 1px solid #EAECEE;
  outline: none;
  background: #FFF;
  width: 100px;
}
.header .header-pc .main-row .content .search-wrapper .params-panel input::-moz-placeholder {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.header .header-pc .main-row .content .search-wrapper .params-panel input::placeholder {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.header .header-pc .main-row .content .search-wrapper .params-panel input:last-child {
  border-right: 1px solid #EAECEE;
}
.header .header-pc .main-row .content .search-wrapper .results {
  width: 100%;
  display: flex;
  flex-direction: column;
  display: none;
}
.header .header-pc .main-row .content .search-wrapper .results li {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  background: #FFF;
  border-bottom: 1px solid #E1E1E1;
}
.header .header-pc .main-row .content .search-wrapper .results.active {
  display: block;
}
.header .header-pc .main-row .content .links {
  display: flex;
}
.header .header-pc .main-row .content .links a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
}
.header .header-pc .main-row .content .links a:first-child {
  padding-right: 20px;
  border-right: 1px solid #E1E1E1;
}
.header .header-pc .main-row .content .links a:last-child {
  padding-left: 20px;
}
.header .header-pc .navigation-block {
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  background: #FFF;
}
.header .header-pc .navigation-block .navigation {
  display: flex;
  gap: 62px;
  align-items: center;
}
.header .header-pc .navigation-block .navigation .catalog {
  display: flex;
  width: 260px;
  padding: 12px 16px;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-right: 1px solid #EDEDED;
  border-left: 1px solid #EDEDED;
  background: #F5F6FA;
  position: relative;
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.header .header-pc .navigation-block .navigation .catalog::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_642_4521)'%3E%3Cline x1='0.725464' y1='3.42529' x2='14.2745' y2='3.42529' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='0.725403' y1='7.25' x2='14.2745' y2='7.25' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round'/%3E%3Cline x1='0.725403' y1='11.0747' x2='14.2745' y2='11.0747' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_642_4521'%3E%3Crect width='16' height='16' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.header .header-pc .navigation-block .navigation ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-pc .navigation-block .navigation ul li a {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  transition: 0.3s ease;
}
.header .header-pc .navigation-block .navigation ul li a:hover {
  color: #0464EC;
}
.header .header-pc .navigation-block .navigation ul li:last-child a {
  color: #0464EC;
  font-weight: 600;
}
.header .header-mobile {
  position: relative;
  background: #FFF;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  display: none;
}
@media (max-width: 1024px) {
  .header .header-mobile {
    display: block;
  }
}
.header .header-mobile .content .header-mobile-wrap {
  padding: 28px 0 11px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header .header-mobile .content .header-mobile-wrap .burger {
  cursor: pointer;
}
.header .header-mobile .content .header-mobile-wrap a {
  position: relative;
}
.header .header-mobile .content .header-mobile-wrap a span {
  position: absolute;
  top: 10%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #FF4D00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.header .header-mobile .content .mobile-menu {
  position: fixed;
  top: 0;
  left: -2100px;
  background-color: #FFF;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
  transition: 0.5s ease;
  overflow-y: auto;
}
.header .header-mobile .content .mobile-menu.active {
  animation: mobileAnimation 0.5s ease-out;
  left: 0;
}
@keyframes mobileAnimation {
  from {
    left: -2100px;
  }
  to {
    left: 0;
  }
}
.header .header-mobile .content .mobile-menu .mobile-head {
  padding: 28px 20px 11px;
  width: 100%;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header .header-mobile .content .mobile-menu .mobile-head .burger-close-btn {
  cursor: pointer;
}
.header .header-mobile .content .mobile-menu .mobile-head a {
  position: relative;
}
.header .header-mobile .content .mobile-menu .mobile-head a span {
  position: absolute;
  top: 10%;
  left: 95%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #FF4D00;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}
.header .header-mobile .content .mobile-menu .mobile-body {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: 0.3s ease;
}
.header .header-mobile .content .mobile-menu .mobile-body li a {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding: 24px 14px;
  display: flex;
}
.header .header-mobile .content .mobile-menu .mobile-body li a.dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.3s ease;
}
.header .header-mobile .content .mobile-menu .mobile-body li a.dropdown::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' viewBox='0 0 18 20' fill='none'%3E%3Cpath d='M4.34112 12.3185L8.68228 7.68164L13.0234 12.3185' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  transition: 0.3s ease;
  transform: rotate(180deg);
}
.header .header-mobile .content .mobile-menu .mobile-body li a.dropdown.active::after {
  transition: 0.3s ease;
  transform: rotate(0deg);
}
.header .header-mobile .content .mobile-menu .mobile-body li:last-child a {
  color: #0464EC;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list {
  height: 0px;
  overflow: hidden;
  transition: 0.3s ease;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list.active {
  transition: 0.3s ease;
  height: auto;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li {
  border-bottom: 1px solid #EAEBF0;
  background: #FAFBFC;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li a {
  width: 100%;
  padding: 24px 14px;
  display: flex;
  justify-content: space-between;
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px; /* 107.143% */
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' fill='none'%3E%3Cpath d='M6.95539 4.65899L11.5923 9.00015L6.95539 13.3413' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li:last-child a {
  color: initial;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li .dropright-screen {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #FFF;
  top: 0;
  transition: 0.5s ease;
  left: -2100px;
  z-index: 3;
  overflow-y: scroll;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li .dropright-screen.active {
  transition: 0.5s ease;
  left: 0;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li .dropright-screen p {
  width: 100%;
  padding: 24px 14px;
  display: flex;
  gap: 8px;
  background-color: #FFF;
  cursor: pointer;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li .dropright-screen p:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' fill='none'%3E%3Cpath d='M11.5922 13.341L6.95532 8.99985L11.5922 4.65869' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-mobile .content .mobile-menu .mobile-body li .dropdown-list li .dropright-screen ul li a::after {
  content: initial;
}
.header .header-mobile .content .mobile-menu .mobile-contacts {
  margin-top: auto;
  padding: 35px 24px 65px;
  border-top: 1px solid #EAEBF0;
}
.header .header-mobile .content .mobile-menu .mobile-contacts span {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #0464EC;
  width: 100%;
  height: 48px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
  margin-bottom: 56px;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap.lang-wrap {
  margin-bottom: 56px;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-lang {
  display: flex;
  gap: 4px;
  cursor: pointer;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-lang::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M3.5 9.25L7 12.75L10.5 9.25' stroke='%23131214' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-lang p {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .select-list {
  height: 0;
  overflow: hidden;
  transition: 0.3s ease;
  cursor: pointer;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .select-list.active {
  transition: 0.3s ease;
  height: auto;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .select-list li {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  cursor: pointer;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-location {
  position: relative;
  display: flex;
  gap: 6px;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-location::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M15.75 7.5C15.75 12.75 9 17.25 9 17.25C9 17.25 2.25 12.75 2.25 7.5C2.25 5.70979 2.96116 3.9929 4.22703 2.72703C5.4929 1.46116 7.20979 0.75 9 0.75C10.7902 0.75 12.5071 1.46116 13.773 2.72703C15.0388 3.9929 15.75 5.70979 15.75 7.5Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 9.75C10.2426 9.75 11.25 8.74264 11.25 7.5C11.25 6.25736 10.2426 5.25 9 5.25C7.75736 5.25 6.75 6.25736 6.75 7.5C6.75 8.74264 7.75736 9.75 9 9.75Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-location p {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  cursor: pointer;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .select-wrap .header-location::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M3.5 9.25L7 12.75L10.5 9.25' stroke='%23131214' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .time {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
  display: flex;
  gap: 6px;
  margin-top: 23px;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .time::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_1235_783)'%3E%3Cpath d='M9 5.46428V9L10.7679 10.7679M17.25 9C17.25 13.5563 13.5563 17.25 9 17.25C4.44365 17.25 0.75 13.5563 0.75 9C0.75 4.44365 4.44365 0.75 9 0.75C13.5563 0.75 17.25 4.44365 17.25 9Z' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1235_783'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .mail {
  color: #131214;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  gap: 6px;
  margin-top: 23px;
}
.header .header-mobile .content .mobile-menu .mobile-contacts .mail::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M16.5 4.5C16.5 3.675 15.825 3 15 3H3C2.175 3 1.5 3.675 1.5 4.5M16.5 4.5V13.5C16.5 14.325 15.825 15 15 15H3C2.175 15 1.5 14.325 1.5 13.5V4.5M16.5 4.5L9 9.75L1.5 4.5' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}/*# sourceMappingURL=header.css.map */