@import url(./style.css);
@import url(./swiper-bundle.min.css);
@import url(./header.css);
@import url(./footer.css);
.head-block .head-block-row {
  display: flex;
  gap: 24px;
}
.head-block .head-block-row .catalog-wrapper {
  width: 260px;
  border: 1px solid #EDEDED;
  border-top: none;
  height: 488px;
  position: relative;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-wrapper {
    display: none;
  }
}
.head-block .head-block-row .catalog-wrapper .catalog-menu {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-shrink: 0;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu::-webkit-scrollbar {
  width: 0;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li {
  width: 100%;
  display: flex;
  width: 260px;
  padding: 12px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  transition: 0.3s ease;
  cursor: pointer;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='18' viewBox='0 0 19 18' fill='none'%3E%3Cpath d='M6.95536 4.65899L11.5923 9.00015L6.95536 13.3413' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li .catalog-submenu {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 20px;
  display: flex;
  gap: 25px;
  border-left: 3px solid #0464EC;
  background: #fff;
  z-index: 2;
  display: none;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li .catalog-submenu ul {
  display: flex;
  flex-direction: column;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li .catalog-submenu ul li {
  width: -moz-max-content;
  width: max-content;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li .catalog-submenu ul li a {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li .catalog-submenu ul li a:hover {
  color: #0464EC;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li .catalog-submenu ul li::after {
  content: initial;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li:hover {
  color: #0464EC;
}
.head-block .head-block-row .catalog-wrapper .catalog-menu li:hover .catalog-submenu {
  display: flex;
}
.head-block .head-block-row .catalog-promo {
  padding-top: 21px;
  height: 488px;
  width: calc(100% - 24px - 260px);
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-promo {
    width: 100%;
  }
}
.head-block .head-block-row .catalog-promo .swiper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #EFEFEF;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide picture {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide picture img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content {
  position: absolute;
  left: 57px;
  top: 143px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content {
    left: 31px;
    top: 42px;
    gap: 14px;
  }
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.3px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content p {
    font-size: 13px;
  }
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content h2 {
  color: #131214;
  font-family: Calypso;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content h2 {
    font-size: 32px;
  }
}
.head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content a {
  margin-top: 17px;
  width: 172px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-promo .swiper .swiper-slide .slide-content a {
    margin-top: 0;
    width: 149px;
    height: 42px;
    font-size: 16px;
  }
}
.head-block .head-block-row .catalog-promo .swiper .swiper-button-prev::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg clip-path='url(%23clip0_1155_6941)'%3E%3Cpath d='M19.9532 21.342L14.1241 15.5001L19.9532 9.65831L18.1586 7.86377L10.5222 15.5001L18.1586 23.1365L19.9532 21.342Z' fill='%23828282'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1155_6941'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.340424 0.227295)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-button-next::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg clip-path='url(%23clip0_1155_6936)'%3E%3Cpath d='M11.0469 21.342L16.876 15.5001L11.0469 9.65831L12.8414 7.86377L20.4778 15.5001L12.8414 23.1365L11.0469 21.342Z' fill='%23131214'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1155_6936'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.114136 0.227295)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-pagination {
  left: 57px;
  bottom: 27px;
  text-align: left;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .catalog-promo .swiper .swiper-pagination {
    bottom: 17px;
    text-align: center;
    left: 0;
  }
}
.head-block .head-block-row .catalog-promo .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}
.head-block .head-block-row .catalog-promo .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0464EC;
}
.head-block .head-block-row .promo-catalog {
  padding-top: 21px;
  height: 488px;
  width: 100%;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .promo-catalog {
    width: 100%;
  }
}
.head-block .head-block-row .promo-catalog .swiper {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #EFEFEF;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide picture {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide picture img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover;
     object-fit: cover;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content {
  position: absolute;
  left: 57px;
  top: 143px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content {
    left: 31px;
    top: 42px;
    gap: 14px;
  }
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.3px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content p {
    font-size: 13px;
  }
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content h2 {
  color: #131214;
  font-family: Calypso;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content h2 {
    font-size: 32px;
  }
}
.head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content a {
  margin-top: 17px;
  width: 172px;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .promo-catalog .swiper .swiper-slide .slide-content a {
    margin-top: 0;
    width: 149px;
    height: 42px;
    font-size: 16px;
  }
}
.head-block .head-block-row .promo-catalog .swiper .swiper-button-prev::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg clip-path='url(%23clip0_1155_6941)'%3E%3Cpath d='M19.9532 21.342L14.1241 15.5001L19.9532 9.65831L18.1586 7.86377L10.5222 15.5001L18.1586 23.1365L19.9532 21.342Z' fill='%23828282'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1155_6941'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.340424 0.227295)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-button-next::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='31' viewBox='0 0 31 31' fill='none'%3E%3Cg clip-path='url(%23clip0_1155_6936)'%3E%3Cpath d='M11.0469 21.342L16.876 15.5001L11.0469 9.65831L12.8414 7.86377L20.4778 15.5001L12.8414 23.1365L11.0469 21.342Z' fill='%23131214'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1155_6936'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.114136 0.227295)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-pagination {
  left: 57px;
  bottom: 27px;
  text-align: left;
}
@media (max-width: 1024px) {
  .head-block .head-block-row .promo-catalog .swiper .swiper-pagination {
    bottom: 17px;
    text-align: center;
    left: 0;
  }
}
.head-block .head-block-row .promo-catalog .swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
}
.head-block .head-block-row .promo-catalog .swiper .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0464EC;
}
.head-block .category-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 0;
  gap: 24px;
}
@media (max-width: 1024px) {
  .head-block .category-links {
    flex-direction: column;
    gap: 8px;
    padding: 24px 0;
    align-items: flex-start;
  }
}
.head-block .category-links a {
  width: 255px;
  height: 87px;
  flex-shrink: 0;
  display: flex;
  padding: 19.5px 14.107px 19.5px 16.23px;
  justify-content: center;
  align-items: center;
  gap: 24.395px;
  border-radius: 8px;
  background: linear-gradient(0deg, #F5F6FA 0%, #F5F6FA 100%), linear-gradient(272deg, #73DFE7 -71.85%, #0063F7 123.44%);
}
@media (max-width: 1024px) {
  .head-block .category-links a {
    justify-content: flex-start;
    width: 100%;
  }
}
.head-block .category-links a p {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 159px;
}
@media (max-width: 1024px) {
  .head-block .category-links a p {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.catalog-block {
  padding: 50px 0 30px;
  background: linear-gradient(180deg, rgba(245, 246, 250, 0) -43.62%, #F5F6FA 100%);
}
@media (max-width: 768px) {
  .catalog-block {
    padding: 10px 0;
  }
}
.catalog-block .catalog-head {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-head {
    display: none;
  }
}
.catalog-block .catalog-head h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
}
.catalog-block .catalog-head a {
  color: #0464EC;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.catalog-block .catalog-head-mobile {
  display: flex;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  gap: 16px;
  display: none;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-head-mobile {
    display: flex;
  }
}
.catalog-block .catalog-head-mobile h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 142.857% */
  letter-spacing: 0.1px;
}
.catalog-block .catalog-head-mobile a {
  color: #0464EC;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.catalog-block .catalog-head-mobile .sort {
  display: flex;
  width: 100%;
  overflow-x: auto;
  gap: 16px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-shrink: 0;
}
.catalog-block .catalog-head-mobile .sort::-webkit-scrollbar {
  background-color: transparent;
}
.catalog-block .catalog-head-mobile .sort span {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  white-space: nowrap;
}
.catalog-block .catalog-head-mobile .sort span.active {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.catalog-block .sort {
  display: flex;
  align-items: center;
  gap: 48px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .catalog-block .sort {
    display: none;
  }
}
.catalog-block .sort span {
  display: block;
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.catalog-block .sort .select-wrap {
  position: relative;
}
.catalog-block .sort .select-wrap .select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0 5px;
  cursor: pointer;
}
.catalog-block .sort .select-wrap .select::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15' fill='none'%3E%3Cpath d='M4.00195 5.75L7.50195 9.25L11.002 5.75' stroke='%23131214' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}
.catalog-block .sort .select-wrap .select-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 8px;
  padding: 5px;
  border-radius: 8px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}
.catalog-block .sort .select-wrap .select-list.active {
  display: flex;
}
.catalog-block .catalog-category {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category {
    gap: 10px;
  }
}
.catalog-block .catalog-category li {
  width: calc((100% - 75px) / 3);
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li {
    width: 100%;
  }
}
.catalog-block .catalog-category li .category-card-wrapper {
  display: flex;
  height: 220px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper {
    height: 100px;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 8px;
  background: #FFF;
  padding: 15px;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  display: flex;
  gap: 20px;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card.active {
  z-index: 2;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card {
    align-items: center;
    display: flex;
    padding: 10px 17px;
    align-items: center;
    gap: 24px;
  }
  .catalog-block .catalog-category li .category-card-wrapper .category-card:hover {
    border-radius: 6px;
    border: 1px solid #0464EC;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  }
  .catalog-block .catalog-category li .category-card-wrapper .category-card img {
    width: 51px;
    height: 51px;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content {
  width: calc(100% - 105px);
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .card-title {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  height: 31.114px;
  margin-bottom: 10px;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .card-title {
    margin-bottom: 0;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul {
    display: none;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li {
  width: initial;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li::nth-child(n+5) {
  display: none;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li a {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17.5px; /* 125% */
  transition: 0.3s ease;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li a:hover {
  color: #0464EC;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  display: flex;
  gap: 6px;
  cursor: pointer;
  margin-top: 4px;
  align-items: center;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list {
    display: none;
  }
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cpath d='M10.5 5.65723L7 9.15723L3.5 5.65723' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 3px;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content .show-hide-list.hide {
  display: none;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul li:nth-child(n+5) {
  display: none;
}
.catalog-block .catalog-category li .category-card-wrapper .category-card .card-content ul.show li:nth-child(n+5) {
  transition: 0.3s ease;
  display: list-item;
}
.catalog-block .catalog-category li:nth-child(n+10) {
  display: none;
}
.catalog-block .catalog-category.show li:nth-child(n+10) {
  transition: 0.3s ease;
  display: list-item;
}
@media (max-width: 1024px) {
  .catalog-block .catalog-category li:nth-child(n+6) {
    display: none;
  }
  .catalog-block .catalog-category.show li:nth-child(n+6) {
    transition: 0.3s ease;
    display: list-item;
  }
}
.catalog-block .show-more-btn {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
  display: flex;
  gap: 6px;
  cursor: pointer;
  text-align: center;
  margin-top: 33px;
  justify-content: center;
  align-items: center;
}
.catalog-block .show-more-btn:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='15' viewBox='0 0 14 15' fill='none'%3E%3Cpath d='M10.5 5.65723L7 9.15723L3.5 5.65723' stroke='%230464EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 3px;
}
.catalog-block .show-more-btn.hide {
  display: none;
}

.product-tabs-inner {
  padding: 50px 0 20px;
}
.product-tabs-inner .content .tabs-panel {
  width: 100%;
  display: flex;
  gap: 34px;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tabs-panel {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
    margin-bottom: 25px;
  }
}
.product-tabs-inner .content .tabs-panel li {
  color: #C1C4C6;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 57.6px; /* 240% */
  letter-spacing: -0.9px;
  cursor: pointer;
}
.product-tabs-inner .content .tabs-panel li.active {
  color: #373F41;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 57.6px; /* 240% */
  letter-spacing: -0.9px;
}
.product-tabs-inner .content .tab-container {
  width: 100%;
}
.product-tabs-inner .content .tab-container .tab-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.product-tabs-inner .content .tab-container .tab-content.active {
  display: flex;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container {
  width: 100%;
  position: relative;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper {
  width: 100%;
  position: relative;
}
@media (max-width: 1024px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper {
    width: 100%;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner {
  width: 255px;
  height: 480px;
  position: relative;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner {
    width: 164px;
    height: 330px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 14px 11px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  border-radius: 8px;
  background: #FFF;
  transition: 0.3s ease;
  min-height: 374px;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card {
    display: flex;
    width: 164px;
    height: 310px;
    padding: 8px 7px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .images {
  width: 100%;
  height: 155px;
  position: relative;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .images {
    height: 100px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .images img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: none;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .images img.active {
  display: block;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .images .labels {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner {
  display: flex;
  gap: 5px;
  align-items: center;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs {
    gap: 3px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs li {
  width: 35px;
  height: 35px;
  padding: 3px;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs li {
    width: 22px;
    height: 22px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs li .mini-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs li.active-thumb {
  border: 1px solid #0464EC;
  border-radius: 5px;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs li:nth-child(n+6) {
  display: none;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner .thumbs.show li:nth-child(n+6) {
  transition: 0.3s ease;
  display: list-item;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner p {
  color: rgba(19, 18, 20, 0.5);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
  display: flex;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner p {
    font-size: 10px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .gallery .thumbs-inner p.hide {
  display: none;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .card-title {
  color: #131214;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.9px;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .stock {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 20.4px */
  display: flex;
  gap: 4px;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .stock {
    font-size: 10px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .stock.instock::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_539_3779)'%3E%3Cpath d='M7.74089 1.33325C4.06089 1.33325 1.07422 4.31992 1.07422 7.99992C1.07422 11.6799 4.06089 14.6666 7.74089 14.6666C11.4209 14.6666 14.4076 11.6799 14.4076 7.99992C14.4076 4.31992 11.4209 1.33325 7.74089 1.33325ZM7.74089 13.3333C4.80089 13.3333 2.40755 10.9399 2.40755 7.99992C2.40755 5.05992 4.80089 2.66659 7.74089 2.66659C10.6809 2.66659 13.0742 5.05992 13.0742 7.99992C13.0742 10.9399 10.6809 13.3333 7.74089 13.3333ZM10.8009 5.05325L6.40755 9.44659L4.68089 7.72659L3.74089 8.66659L6.40755 11.3333L11.7409 5.99992L10.8009 5.05325Z' fill='%236FCF97'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_539_3779'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.257812)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .stock.remote::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1344_576)'%3E%3Cpath d='M7.74089 1.33325C4.06089 1.33325 1.07422 4.31992 1.07422 7.99992C1.07422 11.6799 4.06089 14.6666 7.74089 14.6666C11.4209 14.6666 14.4076 11.6799 14.4076 7.99992C14.4076 4.31992 11.4209 1.33325 7.74089 1.33325ZM7.74089 13.3333C4.80089 13.3333 2.40755 10.9399 2.40755 7.99992C2.40755 5.05992 4.80089 2.66659 7.74089 2.66659C10.6809 2.66659 13.0742 5.05992 13.0742 7.99992C13.0742 10.9399 10.6809 13.3333 7.74089 13.3333ZM10.8009 5.05325L6.40755 9.44659L4.68089 7.72659L3.74089 8.66659L6.40755 11.3333L11.7409 5.99992L10.8009 5.05325Z' fill='%23828282'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1344_576'%3E%3Crect width='16' height='16' fill='white' transform='translate(-0.257812)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .price {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .price .actual-price {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px; /* 138% */
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .price .actual-price {
    font-size: 16px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .price .discount {
  color: #C1C4C6;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 27.6px; /* 172.5% */
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .price .discount {
    font-size: 13px;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner .product-card .hidden-btn {
  width: 100%;
  padding: 20px;
  color: #0464EC;
  border: 2px solid #0464EC;
  border-radius: 8px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  display: none;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner:hover .product-card {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 8px 24px 0px rgba(149, 157, 165, 0.2);
  height: unset;
  z-index: 5;
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner:hover .product-card .hidden-btn {
  display: block;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner:hover .product-card .hidden-btn {
    display: none;
  }
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-tab-swiper .swiper-slide .product-card-inner:hover .product-card {
    box-shadow: none;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-btn-prev {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: -86px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-btn-prev {
    display: none;
  }
}
.product-tabs-inner .content .tab-container .tab-content .swiper-container .products-btn-next {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: -86px;
  transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 1024px) {
  .product-tabs-inner .content .tab-container .tab-content .swiper-container .products-btn-next {
    display: none;
  }
}
.product-tabs-inner .content .tab-container .tab-content .observe {
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid #0464EC;
  color: #0464EC;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
  padding: 15px 25px;
}
@media (max-width: 768px) {
  .product-tabs-inner .content .tab-container .tab-content .observe {
    width: 100%;
  }
}

.advantages-block {
  padding: 40px 0 100px;
  background: linear-gradient(180deg, rgba(245, 246, 250, 0) -1.08%, #F5F6FA 100%);
  background-image: rgba(245, 246, 250, 0.79), url(../images/main-page/Blob.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  -webkit-backdrop-filter: blur(70.0629577637px);
          backdrop-filter: blur(70.0629577637px);
}
@media (max-width: 768px) {
  .advantages-block {
    padding: 0 0 40px;
  }
}
.advantages-block .advantages-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.advantages-block .advantages-cards .advantages-card {
  width: calc((100% - 24px - 24px) / 3);
  border-radius: 8px;
  background: #FFF;
}
@media (max-width: 1024px) {
  .advantages-block .advantages-cards .advantages-card {
    width: calc((100% - 24px) / 2);
  }
}
@media (max-width: 768px) {
  .advantages-block .advantages-cards .advantages-card {
    width: 100%;
  }
}
.advantages-block .advantages-cards .advantages-card .img-wrap {
  width: 100%;
  background: #F3F6FA;
  height: 240px;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}
.advantages-block .advantages-cards .advantages-card .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages-block .advantages-cards .advantages-card .card-content {
  padding: 18px 25px 35px;
}
.advantages-block .advantages-cards .advantages-card .card-content .title {
  color: #131214;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
  margin-bottom: 6px;
}
@media (max-width: 768px) {
  .advantages-block .advantages-cards .advantages-card .card-content .title {
    font-size: 22px;
  }
}
.advantages-block .advantages-cards .advantages-card .card-content .description {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.advantages-block .advantages-cards .advantages-card .card-content a {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 23.8px */
  display: flex;
  gap: 4px;
}
.advantages-block .advantages-cards .advantages-card .card-content a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cg clip-path='url(%23clip0_1344_303)'%3E%3Cpath d='M8.59 7.41L13.17 12L8.59 16.59L10 18L16 12L10 6L8.59 7.41Z' fill='%230464EC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1344_303'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 24) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.advantages-block .advantages-cards .advantages-card.portfolio {
  background-image: url(../images/main-page/Bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 44px 0;
}
@media (max-width: 768px) {
  .advantages-block .advantages-cards .advantages-card.portfolio {
    padding: 50px 37px 0;
  }
}
.advantages-block .advantages-cards .advantages-card.portfolio .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages-block .advantages-cards .advantages-card.portfolio .card-content .title {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 48px; /* 150% */
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  .advantages-block .advantages-cards .advantages-card.portfolio .card-content .title {
    font-size: 32px;
  }
}
.advantages-block .advantages-cards .advantages-card.portfolio .card-content .description {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 23px;
}
.advantages-block .advantages-cards .advantages-card.portfolio .card-content a {
  border-radius: 8px;
  padding: 15px 18px;
  background: #FFF;
  border: none;
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #0063F7;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
}
.advantages-block .advantages-cards .advantages-card.portfolio .card-content a::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cg clip-path='url(%23clip0_539_4291)'%3E%3Cpath d='M12 4.5L10.59 5.91L16.17 11.5H4V13.5H16.17L10.59 19.09L12 20.5L20 12.5L12 4.5Z' fill='%230063F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_539_4291'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
}

.about-block {
  padding: 105px 0 90px;
}
@media (max-width: 768px) {
  .about-block {
    padding: 40px 0 22px;
  }
}
.about-block .content {
  display: flex;
  gap: 35px;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .about-block .content {
    flex-direction: column;
  }
}
.about-block .content .images-block {
  width: calc((100% - 35px) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .about-block .content .images-block {
    width: 100%;
    padding: 0 30%;
  }
}
@media (max-width: 768px) {
  .about-block .content .images-block {
    padding: 0 20%;
  }
}
@media (max-width: 450px) {
  .about-block .content .images-block {
    padding: 0 8%;
  }
}
.about-block .content .images-block .img-wrap {
  width: 50%;
}
.about-block .content .images-block .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-block .content .info-block {
  width: calc((100% - 35px) / 2);
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .about-block .content .info-block {
    width: 100%;
  }
}
.about-block .content .info-block h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin-bottom: 16px;
}
.about-block .content .info-block p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.3px;
}
.about-block .content .info-block p span {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 200% */
  letter-spacing: 0.3px;
}
.about-block .content .info-block a {
  width: 201px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #0464EC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0464EC;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
  margin: 32px 0;
  transition: 0.3s ease;
}
@media (max-width: 450px) {
  .about-block .content .info-block a {
    width: 100%;
  }
}
.about-block .content .info-block a:hover {
  border: 1px solid #fff;
  background-color: #fff;
}
.about-block .content .info-block a:hover::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_982_17908)'%3E%3Cpath d='M12.5923 4L11.1823 5.41L16.7623 11H4.59229V13H16.7623L11.1823 18.59L12.5923 20L20.5923 12L12.5923 4Z' fill='%230063F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_982_17908'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.592285)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
}
.about-block .content .info-block .advantages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 500px) {
  .about-block .content .info-block .advantages {
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 45px;
  }
}
.about-block .content .info-block .advantages .item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.about-block .content .info-block .advantages .item span {
  color: #131214;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.brands-block {
  padding-top: 95px;
}
@media (max-width: 1024px) {
  .brands-block {
    display: none;
  }
}
.brands-block .content {
  display: flex;
  gap: 35px;
  align-items: flex-end;
}
.brands-block .content .images-block {
  width: calc((100% - 35px) / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.brands-block .content .images-block .img-wrap {
  width: 50%;
}
.brands-block .content .images-block .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.brands-block .content .info-block {
  width: calc((100% - 35px) / 2);
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.brands-block .content .info-block h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin-bottom: 27px;
}
.brands-block .content .info-block p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 200% */
  letter-spacing: 0.3px;
  margin-bottom: 35px;
}
.brands-block .content .info-block a {
  width: 201px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #0464EC;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0464EC;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.3px;
  margin: 32px 0;
  transition: 0.3s ease;
}
@media (max-width: 450px) {
  .brands-block .content .info-block a {
    width: 100%;
  }
}
.brands-block .content .info-block a:hover {
  border: 1px solid #fff;
  background-color: #fff;
}
.brands-block .content .info-block a:hover::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cg clip-path='url(%23clip0_982_17908)'%3E%3Cpath d='M12.5923 4L11.1823 5.41L16.7623 11H4.59229V13H16.7623L11.1823 18.59L12.5923 20L20.5923 12L12.5923 4Z' fill='%230063F7'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_982_17908'%3E%3Crect width='24' height='24' fill='white' transform='translate(0.592285)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
}

.partners-block .partners-title {
  color: #D8DAE3;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 66.5px; /* 138.542% */
  letter-spacing: 0.5px;
  text-transform: uppercase;
  max-width: 30%;
  margin-bottom: 66px;
}
@media (max-width: 1024px) {
  .partners-block .partners-title {
    display: none;
  }
}
.partners-block .swiper-row {
  padding: 50px 0 32px;
  background: #F5F6FA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
@media (max-width: 1024px) {
  .partners-block .swiper-row {
    gap: 0;
  }
}
.partners-block .swiper-row .button-prev {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .partners-block .swiper-row .button-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.partners-block .swiper-row .button-next {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .partners-block .swiper-row .button-next {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.partners-block .swiper-row .content {
  margin: 0;
}
.partners-block .swiper-row .content .swiper-slide {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  padding: 80px 0;
}
.block .content {
  display: flex;
  gap: 35px;
}
@media (max-width: 1024px) {
  .block .content {
    flex-direction: column;
  }
}
.block .swiper-container {
  max-width: calc(100% - 410px - 35px);
  width: 100%;
}
@media (max-width: 1024px) {
  .block .swiper-container {
    max-width: 100%;
  }
}
.block .swiper-container .picture-swiper {
  width: 100%;
  height: 100%;
}
.block .swiper-container .picture-swiper .swiper-slide {
  border-radius: 8px;
  background: #CCE0DE;
  overflow: hidden;
}
.block .swiper-container .picture-swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block .swiper-container .picture-swiper .swiper-button-prev {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: rgba(230, 239, 251, 0.4);
  left: 30px;
}
@media (max-width: 1024px) {
  .block .swiper-container .picture-swiper .swiper-button-prev {
    left: 15px;
  }
}
.block .swiper-container .picture-swiper .swiper-button-prev::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='32' viewBox='0 0 31 32' fill='none'%3E%3Cg clip-path='url(%23clip0_934_6405)'%3E%3Cpath d='M19.84 21.8418L14.0109 16L19.84 10.1582L18.0455 8.36365L10.4091 16L18.0455 23.6364L19.84 21.8418Z' fill='%230464EC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_934_6405'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.227264 0.727295)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.block .swiper-container .picture-swiper .swiper-button-next {
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: rgba(230, 239, 251, 0.4);
  right: 30px;
}
@media (max-width: 1024px) {
  .block .swiper-container .picture-swiper .swiper-button-next {
    right: 15px;
  }
}
.block .swiper-container .picture-swiper .swiper-button-next::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='32' viewBox='0 0 31 32' fill='none'%3E%3Cg clip-path='url(%23clip0_934_6400)'%3E%3Cpath d='M11.2577 21.8418L17.0867 16L11.2577 10.1582L13.0522 8.36365L20.6886 16L13.0522 23.6364L11.2577 21.8418Z' fill='%230464EC'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_934_6400'%3E%3Crect width='30.5455' height='30.5455' fill='white' transform='translate(0.324928 0.727295)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  display: block;
}
.block .swiper-container .picture-swiper .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
}
.block .swiper-container .picture-swiper .swiper-pagination-bullet-active {
  background: #0464EC;
}
.block .text h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
  margin: 36px 0 16px;
}
.block .text .info-block {
  max-width: 410px;
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  box-shadow: inset 0 0 15px 15px rgba(255, 255, 255, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-right: 10px;
  scrollbar-color: #E7EBFF transparent;
  scrollbar-width: thin;
  -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 70px, rgb(0, 0, 0) calc(100% - 70px), rgba(0, 0, 0, 0) 100%);
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .block .text .info-block {
    max-width: 100%;
  }
}
.block .text .info-block::-webkit-scrollbar {
  width: 4.25px;
  height: 79px;
  border-radius: 100px;
  background: transparent;
}
.block .text .info-block::-webkit-scrollbar-thumb {
  background: #E7EBFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
  width: 4.25px;
  height: 79px;
  border-radius: 100px;
}
.block .text .info-block li {
  display: flex;
  width: 100%;
  padding: 16px;
  flex-direction: column;
  gap: 5px;
  border: 1px solid #fff;
  transition: 0.3s ease;
}
.block .text .info-block li p {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
.block .text .info-block li span {
  color: #131214;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}
.block .text .info-block li.active {
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
}

.customers {
  padding: 85px 0 0;
}
.customers h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
}
.customers h2 span {
  color: #0464EC;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1px;
}
.customers .swiper-row {
  padding: 66px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}
@media (max-width: 1024px) {
  .customers .swiper-row {
    gap: 0;
  }
}
.customers .swiper-row .button-prev {
  cursor: pointer;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .customers .swiper-row .button-prev {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.customers .swiper-row .button-next {
  cursor: pointer;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #E6EFFB;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1024px) {
  .customers .swiper-row .button-next {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    z-index: 5;
  }
}
.customers .swiper-row .content {
  margin: 0;
}
.customers .swiper-row .content .customers-swiper {
  width: 100%;
}
.customers .swiper-row .content .customers-swiper .swiper-wrapper {
  padding: 10px 0;
  gap: 24px;
}
.customers .swiper-row .content .customers-swiper .swiper-wrapper .swiper-slide {
  width: 204px !important;
  height: 123px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 29px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.news {
  background-image: url(../images/main-page/new.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 112px;
}
@media (max-width: 1024px) {
  .news {
    padding-bottom: 60px;
  }
}
.news .news-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1024px) {
  .news .news-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
.news .news-row h2 {
  color: #131214;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
}
.news .news-row a {
  color: #0464EC;
  text-align: right;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
.news .news-swiper {
  margin-top: 41px;
  margin-bottom: 27px;
}
.news .news-swiper .swiper-slide {
  border-right: 1px solid #E1E1E1;
  height: 240px;
}
.news .news-swiper .swiper-slide:last-child {
  border-right: none;
}
.news .news-swiper .swiper-slide .news-card {
  width: 255px;
  padding: 42px 14px 65px 33px;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 12px;
  flex-shrink: 0;
}
@media (max-width: 450px) {
  .news .news-swiper .swiper-slide .news-card {
    padding: 30px 15px;
  }
}
.news .news-swiper .swiper-slide .news-card .date {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.2px;
}
.news .news-swiper .swiper-slide .news-card p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.1px;
}
.news .news-swiper .swiper-slide .news-card .description {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: auto;
}
.news .news-cards {
  width: 100%;
  display: flex;
  gap: 33px;
  margin-top: 41px;
  margin-bottom: 27px;
}
.news .news-cards .news-card {
  width: 255px;
  padding: 42px 14px 65px 0;
  border-right: 1px solid #E1E1E1;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  gap: 12px;
  flex-shrink: 0;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}
.news .news-cards .news-card:last-child {
  border-right: none;
}
.news .news-cards .news-card::-webkit-scrollbar {
  width: 4.25px;
  height: 2px;
  background: transparent;
}
.news .news-cards .news-card::-webkit-scrollbar-thumb {
  background: transparent;
  width: 4.25px;
  height: 2px;
}
.news .news-cards .news-card .date {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  letter-spacing: 0.2px;
}
.news .news-cards .news-card p {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.1px;
}
.news .news-cards .news-card .description {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: auto;
}
.news .banner {
  width: 100%;
  border-radius: 8px;
  border-collapse: collapse;
  background-image: url(../images/main-page/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 35px 0 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media (max-width: 1024px) {
  .news .banner {
    padding: 35px 16px;
  }
}
.news .banner p {
  color: #FFF;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 46px; /* 135.294% */
}
@media (max-width: 1024px) {
  .news .banner p {
    font-size: 26px;
  }
}
.news .banner button {
  width: 209px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 4px solid #FFF;
  background: linear-gradient(0deg, #0464EC 0%, #0464EC 100%), linear-gradient(264deg, #73DFE7 -29.33%, #0063F7 98.4%);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.3px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .news .banner button {
    width: 100%;
  }
}/*# sourceMappingURL=main-page.css.map */