* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Thin.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Calypso";
  src: url(../fonts/Calypso.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow-x: hidden;
  position: relative;
  background: #fff;
  transition: 0.3s ease;
}

:root {
  --fz:.2578vw;
}

@media (min-width: 768px) {
  :root {
    --fz:.13021vw ;
  }
}
@media (min-width: 992px) {
  :root {
    --fz:.08581vw ;
  }
}
@media (min-width: 1200px) {
  :root {
    --fz:.0521vw;
  }
}
.content {
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  transition: 0.3s ease;
}
@media (max-width: 1024px) {
  .content {
    max-width: 1136px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

.attention {
  width: 100%;
  background: #131214;
  padding: 8px 0;
}
@media (max-width: 1000px) {
  .attention {
    padding: 10px 0;
  }
}
.attention.hidden {
  display: none;
}
.attention .content {
  display: flex;
  gap: 130px;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1000px) {
  .attention .content {
    gap: 0;
    align-items: flex-start;
  }
}
.attention .content p {
  color: #FFF;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 107.692% */
}
@media (max-width: 1000px) {
  .attention .content p {
    font-size: 10px;
  }
}
.attention .content .attention-close {
  cursor: pointer;
}
.attention .content .attention-close:hover svg path {
  stroke: #FFF;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 13, 30, 0.4);
  -webkit-backdrop-filter: blur(8.9999990463px);
          backdrop-filter: blur(8.9999990463px);
  z-index: 3;
  display: none;
  transition: all 0.5s ease;
  padding: 0 25px;
}
.overlay.open {
  display: block;
}

.blue-btn {
  display: flex;
  width: 116px;
  padding: 15px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: linear-gradient(0deg, #0464EC 0%, #0464EC 100%), linear-gradient(147deg, #73DFE7 6.95%, #0063F7 93.05%);
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: 0.3px;
  text-transform: capitalize;
  cursor: pointer;
}
.blue-btn:hover {
  border-radius: 8px;
  background: linear-gradient(0deg, #034096 0%, #034096 100%), linear-gradient(147deg, #73DFE7 6.95%, #0063F7 93.05%);
}
.blue-btn:active {
  border-radius: 8px;
  background: linear-gradient(0deg, #0356C9 0%, #0356C9 100%), linear-gradient(147deg, #73DFE7 6.95%, #0063F7 93.05%);
}

.new-label {
  display: flex;
  padding: 2.5px 11.5px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(201, 240, 255, 0.4);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  color: #0065D0;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .new-label {
    color: #0065D0;
    text-align: center;
    font-family: Montserrat;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 10.315px; /* 147.363% */
    text-transform: uppercase;
  }
}

.on-sale {
  display: flex;
  padding: 2.5px 11px 2.5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(255, 229, 229, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #D3180C;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .on-sale {
    color: #D3180C;
    text-align: center;
    font-family: Montserrat;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 10.315px; /* 147.363% */
    text-transform: uppercase;
  }
}

.eco {
  display: flex;
  padding: 2.5px 11px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(236, 252, 229, 0.4);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #198155;
  text-align: center;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 160% */
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 768px) {
  .eco {
    color: #198155;
    text-align: center;
    font-family: Montserrat;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 10.315px; /* 147.363% */
    text-transform: uppercase;
  }
}

.modal-contact {
  position: fixed;
  top: 0;
  right: -2100px;
  height: 100%;
  width: 568px;
  background: #FFF;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  box-shadow: -2px 0px 40px 0px rgba(0, 0, 0, 0.15);
  transition: 0.5s ease;
}
.modal-contact.open {
  right: 0;
}
.modal-contact .modal-head {
  width: 100%;
  padding: 24px 24px 40px 0;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.modal-contact .modal-head .modal-close {
  cursor: pointer;
}
.modal-contact .modal-body {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
.modal-contact .modal-body .text {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modal-contact .modal-body .text h3 {
  color: #131214;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px; /* 125% */
  letter-spacing: 0.1px;
}
.modal-contact .modal-body .text p {
  color: var(--gray-50, #5F6D7E);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.1px;
}
.modal-contact .modal-body form input {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 0px 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid #E1E1E1;
  background: #FFF;
  margin-bottom: 25px;
  outline: none;
}
.modal-contact .modal-body form button {
  display: flex;
  width: 100%;
  height: 48px;
  padding: 12px 86px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #0464EC;
  background: #0464EC;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 14px;
}
.modal-contact .modal-body form p {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal-contact .modal-body form p a {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.breadcrumbs {
  display: flex;
  gap: 8px;
}
.breadcrumbs li a {
  color: #585C5F;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.breadcrumbs li a.current-page {
  color: #131214;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 23.8px */
}
.breadcrumbs li.separator {
  color: #585C5F;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Calypso;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
  letter-spacing: 0.07px;
}/*# sourceMappingURL=style.css.map */